/*adding css on your first webpage with TOP*/

*{
    outline: 1px dotted red;
}
ul {
    height: auto;
    margin-top: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: auto;
    background-color: burlywood;
    color: white;
    text-align: center;
    
}

p{
    text-align: center;
    margin: 50px auto;
    padding: 50px;
}

h1{
    text-align: center;
    background-color: beige;
    color: cadetblue;
}

body{
    background-color: black;
    color: white;
}