/*adding css on your first webpage with TOP*/

p {
    text-align: center;
    background-color: burlywood;
    color: white;

}

h1{
    text-align: center;
    background-color: beige;
    color: cadetblue;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}